@model DotNetEd.CoreAdmin.ViewModels.DataDeleteViewModel

@{
    ViewData["Page_Title"] = Model.DbSetName;
    Layout = "_CoreAdminLayout";

    string WarningMsg = "Are you sure you want to delete this?";
}

<h1 class="display-4">@Model.DbSetName - Delete</h1>
<h5 class="text-warning mt-3"><span class="bg-info px-3 pb-1">@WarningMsg</span></h5>

<div class="row my-3">
    <div class="col-lg-12">
        @Html.DisplayFor(m => m.Object)
    </div>
</div>

@using (Html.BeginForm("DeleteEntityPost", "CoreAdminData", new {}, FormMethod.Post))
{
    @Html.HiddenFor(m => m.DbSetName)
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Yes, delete it</button>

    @Html.ActionLink("No, go back", "Index", new {Id = Model.DbSetName})
}



