@using DotNetEd.CoreAdmin
@using Microsoft.Extensions.Localization
@model DotNetEd.CoreAdmin.ViewModels.DataDeleteViewModel
@inject IStringLocalizer<JsonLocalizer> _localizer

@{
    ViewData["Page_Title"] = Model.DbSetName;
    Layout = "_CoreAdminLayout";
}

<h1 class="mt-3">@_localizer["DeleteConfirm"]</h1>

<div class="row my-3">
    <div class="col-lg-12">
        @Html.DisplayFor(m => m.Object)
    </div>
</div>


@using (Html.BeginForm("DeleteEntityPost", "CoreAdminData", new {}, FormMethod.Post))
{
    @Html.HiddenFor(m => m.DbSetName)
    @Html.HiddenFor(m => m.Id)

    <div class="col-md-12 my-3 text-end">
        @Html.ActionLink(_localizer["GoBack"], "Index", new { Id = Model.DbSetName })
        <button type="submit" class="btn btn-primary ms-3">@_localizer["Delete"]</button>
    </div>
}



