@{
    ViewData["Page_Title"] = ViewBag.DbSetName;
    Layout = "_CoreAdminLayout";
}

<h1 class="display-4">@ViewBag.DbSetName - Edit</h1>

@using (Html.BeginForm("EditEntityPost", "CoreAdminData", new { dbSetName = ViewBag.DbSetName, id = ViewBag.Id }, FormMethod.Post))
{

    @Html.Hidden("dbSetName", ViewBag.DbSetName, new { })
    @Html.Hidden("id", ViewBag.Id, new { })

    @Html.EditorForModel("DefaultEntity")

    <div class="row">
        <div class="col-md-12 px-4">
            <button type="submit" class="btn btn-primary mr-3">Update</button>

            @Html.ActionLink("Cancel", "Index", new { Id = ViewBag.DbSetName })

        </div>
    </div>

}

