@functions{ 
    
    bool ShouldShow(Microsoft.AspNetCore.Mvc.ModelBinding.ModelMetadata metadata)
    {
        var shouldIgnore = ViewBag.IgnoreFromForm != null 
            && ((IEnumerable<string>)ViewBag.IgnoreFromForm).Contains(metadata.PropertyName);

        return metadata.ShowForDisplay
            && !metadata.IsComplexType && !shouldIgnore;
    } 
    
}
@if (ViewData.TemplateInfo.TemplateDepth > 1)
{
    if (Model == null)
    {
        @ViewData.ModelMetadata.NullDisplayText 
    
    }
    else
    {
        @ViewData.ModelMetadata.GetDisplayName() 
    }
}
else
{
    foreach (var prop in ViewData.ModelMetadata.Properties.Where(ShouldShow))
    {

    <div class="form-group row">
        @if (prop.HideSurroundingHtml)
        {
            @Html.Editor(prop.PropertyName) 
        }
        else if (!String.IsNullOrEmpty(Html.Label(prop.PropertyName).ToString()))
        {

            @Html.Label(prop.PropertyName, prop.DisplayName, new { @class = "col-md-2 col-form-label font-weight-bold" })
        }

        <div class="col-md-10">
                @Html.Editor(prop.PropertyName)

                @Html.ValidationMessage(prop.PropertyName)
            </div>
    </div>
    }
}

